<div class="container col-md-6 col-md-offset-3">
  <%= form_for(@entrevista) do |f| %>
    <% if @entrevista.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@entrevista.errors.count, "error") %> prohibited this entrevista from being saved:</h2>
  
        <ul>
        <% @entrevista.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group row">
      <%= f.label :entregou_documentos, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.check_box :entregou_documentos, :class=>"form-check" %>
      </div>
    </div>
    
    <div class="form-group row">
      <%= f.label :historico_escolar, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.check_box :historico_escolar, :class=>"form-check" %>
      </div>
    </div>
    
    <div class="form-group row">
      <%= f.label :numero_de_pessoas, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.number_field :numero_de_pessoas, :class=>"form-control" %>
      </div>
    </div>
    
    <div class="form-group row">
      <%= f.label :iptu, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :iptu, :class=>"form-control" %>
      </div>
    </div>
    
    <div class="form-group row">
      <%= f.label :veiculos, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :veiculos, :class=>"form-control" %>
      </div>
    </div>
    
    <div class="form-group row">
      <%= f.label :holerites_mes1, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :holerites_mes1, :class=>"form-control" %>
      </div>
    </div>
    
    <div class="form-group row">
      <%= f.label :holerites_mes2, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :holerites_mes2, :class=>"form-control" %>
      </div>
    </div>
    
    <div class="form-group row">
      <%= f.label :holerites_mes3, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :holerites_mes3, :class=>"form-control" %>
      </div>
    </div>
    
    <div class="form-group row">
      <%= f.label :aposentadorias, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :aposentadorias, :class=>"form-control" %>
      </div>
    </div>
    
    <div class="form-group row">
      <%= f.label :auxilios, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :auxilios, :class=>"form-control" %>
      </div>
    </div>
      
    <div class="form-group row">
      <%= f.label :renda_bruta, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :renda_bruta, :class=>"form-control" %>
      </div>
    </div>
      
    <div class="form-group row">
      <%= f.label :rbpc, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :rbpc, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :agua_mes1, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :agua_mes1, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :agua_mes2, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :agua_mes2, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :agua_mes3, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :agua_mes3, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :luz_mes1, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :luz_mes1, :class=>"form-control" %>
      </div>
    </div>
    
    <div class="form-group row">
      <%= f.label :luz_mes2, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :luz_mes2, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :luz_mes3, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :luz_mes3, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :net_TV_mes1, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :net_TV_mes1, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :net_TV_mes2, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :net_TV_mes2, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :net_TV_mes3, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :net_TV_mes3, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :aluguel, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :aluguel, :class=>"form-control" %>
      </div>
    </div>
    
    <div class="form-group row">
      <%= f.label :outros_gastos, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :outros_gastos, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :gastos_totais, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :gastos_totais, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :renda_liq, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :renda_liq, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :rlpc, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :rlpc, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :obs, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.text_field :obs, :class=>"form-control" %>
      </div>
    </div>
    
     <div class="form-group row">
      <%= f.label :aprovado, :class=>"col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.check_box :aprovado, :class=>"form-check" %>
      </div>
    </div>
    
    <%= f.hidden_field :candidato_id, :value => @candidato.id%>
    
    <div class="form-group row">
      <%= f.submit 'Salvar', :class => 'btn btl-lg btn-primary col-md-4 col-md-offset-4' %>
    </div>

  <% end %>
</div>