<p id="notice"><%= notice %></p>

<p>
  <strong>Entregou documentos:</strong>
  <%= @entrevista.entregou_documentos %>
</p>

<p>
  <strong>Historico escolar:</strong>
  <%= @entrevista.historico_escolar %>
</p>

<p>
  <strong>Numero de pessoas:</strong>
  <%= @entrevista.numero_de_pessoas %>
</p>

<p>
  <strong>Iptu:</strong>
  <%= @entrevista.iptu %>
</p>

<p>
  <strong>Veiculos:</strong>
  <%= @entrevista.veiculos %>
</p>

<p>
  <strong>Holerites mes1:</strong>
  <%= @entrevista.holerites_mes1 %>
</p>

<p>
  <strong>Holerites mes2:</strong>
  <%= @entrevista.holerites_mes2 %>
</p>

<p>
  <strong>Holerites mes3:</strong>
  <%= @entrevista.holerites_mes3 %>
</p>

<p>
  <strong>Aposentadorias:</strong>
  <%= @entrevista.aposentadorias %>
</p>

<p>
  <strong>Auxilios:</strong>
  <%= @entrevista.auxilios %>
</p>

<p>
  <strong>Renda bruta:</strong>
  <%= @entrevista.renda_bruta %>
</p>

<p>
  <strong>Rbpc:</strong>
  <%= @entrevista.rbpc %>
</p>

<p>
  <strong>Agua mes1:</strong>
  <%= @entrevista.agua_mes1 %>
</p>

<p>
  <strong>Agua mes2:</strong>
  <%= @entrevista.agua_mes2 %>
</p>

<p>
  <strong>Agua mes3:</strong>
  <%= @entrevista.agua_mes3 %>
</p>

<p>
  <strong>Luz mes1:</strong>
  <%= @entrevista.luz_mes1 %>
</p>

<p>
  <strong>Luz mes2:</strong>
  <%= @entrevista.luz_mes2 %>
</p>

<p>
  <strong>Luz mes3:</strong>
  <%= @entrevista.luz_mes3 %>
</p>

<p>
  <strong>Net tv mes1:</strong>
  <%= @entrevista.net_TV_mes1 %>
</p>

<p>
  <strong>Net tv mes2:</strong>
  <%= @entrevista.net_TV_mes2 %>
</p>

<p>
  <strong>Net tv mes3:</strong>
  <%= @entrevista.net_TV_mes3 %>
</p>

<p>
  <strong>Aluguel:</strong>
  <%= @entrevista.aluguel %>
</p>

<p>
  <strong>Outros gastos:</strong>
  <%= @entrevista.outros_gastos %>
</p>

<p>
  <strong>Gastos totais:</strong>
  <%= @entrevista.gastos_totais %>
</p>

<p>
  <strong>Renda liq:</strong>
  <%= @entrevista.renda_liq %>
</p>

<p>
  <strong>Rlpc:</strong>
  <%= @entrevista.rlpc %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @entrevista.obs %>
</p>

<p>
  <strong>Aprovado:</strong>
  <%= @entrevista.aprovado %>
</p>

<%= link_to 'Edit', edit_entrevista_path(@entrevista) %> |
<%= link_to 'Back', entrevistas_path %>
