<p id="notice"><%= notice %></p>

<p>
  <strong>Automovel:</strong>
  <%= @pesquisa.automovel %>
</p>

<p>
  <strong>Television:</strong>
  <%= @pesquisa.television %>
</p>

<p>
  <strong>Computers:</strong>
  <%= @pesquisa.computers %>
</p>

<p>
  <strong>Washingmachines:</strong>
  <%= @pesquisa.washingMachines %>
</p>

<p>
  <strong>Fridge:</strong>
  <%= @pesquisa.fridge %>
</p>

<p>
  <strong>Radio:</strong>
  <%= @pesquisa.radio %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @pesquisa.bathrooms %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @pesquisa.employees %>
</p>

<p>
  <strong>Householderinstructionlevel:</strong>
  <%= @pesquisa.householderInstructionLevel %>
</p>

<p>
  <strong>City:</strong>
  <%= @pesquisa.city %>
</p>

<p>
  <strong>Housetype:</strong>
  <%= @pesquisa.houseType %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @pesquisa.transport %>
</p>

<p>
  <strong>Familyincomeparticipation:</strong>
  <%= @pesquisa.familyIncomeParticipation %>
</p>

<p>
  <strong>Worktype:</strong>
  <%= @pesquisa.workType %>
</p>

<p>
  <strong>Individualmonthlyincome:</strong>
  <%= @pesquisa.individualMonthlyIncome %>
</p>

<p>
  <strong>Howdoyouknowcasd:</strong>
  <%= @pesquisa.howDoYouKnowCASD %>
</p>

<p>
  <strong>Ishighschoolstudent:</strong>
  <%= @pesquisa.isHighSchoolStudent %>
</p>

<p>
  <strong>Hasstudiedcasd:</strong>
  <%= @pesquisa.hasStudiedCASD %>
</p>

<p>
  <strong>Relativeincasd:</strong>
  <%= @pesquisa.relativeInCASD %>
</p>

<%= link_to 'Edit', edit_pesquisa_path(@pesquisa) %> |
<%= link_to 'Back', pesquisas_path %>
