<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    Candidatos
                </h3>
              </div>
              <div class="panel-body">
                <h2><%= @num_cand %></h2> <h3>candidatos foram adicionados ao sistema!</h3>
                <hr>
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="26" aria-valuemin="0" aria-valuemax="100" style="width: 26%">
                    <span class="sr-only">26% Complete</span>
                  </div>
                </div>
                <h4>10 e-mails de convite para a pesquisa já foram enviados.</h4>
                <hr>
                <h4>Clique no botão abaixo para enviar os e-mails restantes:</h4>
                <hr>
                <center><button type="button" class="btn btn-info btn-lg">Enviar e-mails!</button></center>
              </div>
            </div> 
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    Pesquisas
                </h3>
              </div>
              <div class="panel-body">
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="<%= (@num_pesq.to_f/@num_cand.to_f*100).round(2) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@num_pesq.to_f/@num_cand.to_f*100).round(2) %>%">
                    <span class="sr-only"><%= (@num_pesq.to_f/@num_cand.to_f*100).round(2) %>% Complete</span>
                  </div>
                </div>
                <h4><%= (@num_pesq.to_f/@num_cand.to_f*100).round(2) %>% das pesquisas foram preenchidas</h4>
              </div>
            </div>    
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                    Entrevistas
                </h3>
              </div>
              <div class="panel-body">
                <h3>Buscar candidato para realizar a entrevista:</h3>
                <div class="input-group">
                  <%= form_tag("/candidatos/", method: "get") do %>  
                  <script type="text/javascript">
                  $(document).ready(function() {
                    $("select#search").select2({theme: "bootstrap", width: "element" })
                  });
                  </script>
                  <select id="search" class="form-control" name="candidato_id">
                    <% @candidatos.each do |candidato| %>
                      <option value="<%= candidato.id %>"><%= candidato.nome %></option>
                    <% end %>
                  </select>
                  
                <% end %>  
                  
                  <span class="input-group-btn">
                    <button class="btn btn-info" type="button">Buscar!</button>
                  </span>
                </div><!-- /input-group -->
                <hr>
                <div class="progress">
                  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="<%= (@num_entr.to_f/@num_cand.to_f*100).round(2) %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= (@num_entr.to_f/@num_cand.to_f*100).round(2) %>%">
                    <span class="sr-only"><%= (@num_entr.to_f/@num_cand.to_f*100).round(2) %>% Complete</span>
                  </div>
                </div>
                <h4>Faltam realizar <%= @num_cand - @num_entr %> entrevistas!</h4>
                <hr>
                <center>
                  <%= link_to 'Visualizar entrevistas!', entrevistas_path, :class => "btn btn-info btn-lg" %> 
                  </center>
              </div>
            </div>   
        </div>
        <div class="col-lg-4">
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Resultado
                </h3>
              </div>
              <div class="panel-body">
                <h3>Etapas do processo:</h3>
                <hr>
                <ul class="list-group">
                  <li class="list-group-item <% if @num_cand > 0 %>  list-group-item-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><% else %><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> <% end %> Importação dos candidatos</li>
                  <li class="list-group-item <% if @num_pesq > 0 %>  list-group-item-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><% else %><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> <% end %> Envio das Pesquisas</li>
                  <li class="list-group-item <% if @num_pesq > 0 %>  list-group-item-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><% else %><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> <% end %> Preenchimento das pesquisas</li>
                  <li class="list-group-item <% if @num_entr > 0 %>  list-group-item-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><% else %><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> <% end %> Entrevistas socioeconômicas</li>
                </ul>
                <hr>
                <center>
                <%= link_to 'Gerar resultado do processo!', candidatos_pdfexport_path,
                :class => "btn btn-success btn-lg #{
                if !(@num_cand > 0 && @num_pesq > 0 && @num_entr > 0 )
                  "disabled"
                end
                }" %></center>
              </div>
            </div>
        </div>
    </div>

</div>