<div class="container">
  <p id="notice"><%= notice %></p>
  <h1 class="text-center">Formulários</h1>
  <br><br>
      <table class="table table-striped">
      <thead>
        <tr>
          <!--<th>Automóveis</th>
          <th>Televisão</th>
          <th>Computadores</th>
          <th>Máquina de Lavar</th>
          <th>Geladeiras</th>
          <th>Aparelho de rádio</th>
          <th>Banheiros</th>
          <!--<th>Empregados</th>-->
          <th>Nível Instrução do Chefe de Família</th>
          <th>Cidade</th>
          <th>Habitação</th>
          <th>Transporte</th>
          <th>Participação na renda familiar</th>
          <th>Tipo de trabalho</th>
          <th>Renda mensal</th>
          <!--<th>Como conheceu</th>-->
          <th>Ensino Médio</th>
          <th>Ex-aluno</th>
          <th>Parente no CASD</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @candidate_forms.each do |candidate_form| %>
          <tr>
            <!--<td><%= candidate_form.automovel %></td>
            <td><%= candidate_form.television %></td>
            <td><%= candidate_form.computers %></td>
            <td><%= candidate_form.washingMachines %></td>
            <td><%= candidate_form.fridge %></td>
            <td><%= candidate_form.radio %></td>
            <td><%= candidate_form.bathrooms %></td>
            <td><%= candidate_form.employees %></td>-->
            <td><%= candidate_form.householderInstructionLevel %></td>
            <td><%= candidate_form.city %></td>
            <td><%= candidate_form.houseType %></td>
            <td><%= candidate_form.transport %></td>
            <td><%= candidate_form.familyIncomeParticipation %></td>
            <td><%= candidate_form.workType %></td>
            <td><%= candidate_form.individualMonthlyIncome %></td>
            <!--<td><%= candidate_form.howDoYouKnowCASD %></td>-->
            <td><%= candidate_form.isHighSchoolStudent %></td>
            <td><%= candidate_form.hasStudiedCASD %></td>
            <td><%= candidate_form.relativeInCASD %></td>
            <td><%= link_to 'Ver', candidate_form,  :class => "btn btn-default btn-sm" %></td>
            <td><%= link_to 'Editar', edit_candidate_form_path(candidate_form),  :class => "btn btn-default btn-sm" %></td>
            <td><%= link_to 'Excluir', candidate_form, method: :delete, data: { confirm: 'Are you sure?' },  :class => "btn btn-default btn-sm"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<br>

  <div class="col-md-2 col-md-offset-5">
    <%= link_to 'Novo Formulário', new_candidate_form_path, :class => "btn btn-default center-block" %><br>
  </div>