<p id="notice"><%= notice %></p>

<p>
  <strong>Automovel:</strong>
  <%= @candidate_form.automovel %>
</p>

<p>
  <strong>Television:</strong>
  <%= @candidate_form.television %>
</p>

<p>
  <strong>Computers:</strong>
  <%= @candidate_form.computers %>
</p>

<p>
  <strong>Washingmachines:</strong>
  <%= @candidate_form.washingMachines %>
</p>

<p>
  <strong>Fridge:</strong>
  <%= @candidate_form.fridge %>
</p>

<p>
  <strong>Radio:</strong>
  <%= @candidate_form.radio %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @candidate_form.bathrooms %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @candidate_form.employees %>
</p>

<p>
  <strong>Householderinstructionlevel:</strong>
  <%= @candidate_form.householderInstructionLevel %>
</p>

<p>
  <strong>City:</strong>
  <%= @candidate_form.city %>
</p>

<p>
  <strong>Housetype:</strong>
  <%= @candidate_form.houseType %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @candidate_form.transport %>
</p>

<p>
  <strong>Familyincomeparticipation:</strong>
  <%= @candidate_form.familyIncomeParticipation %>
</p>

<p>
  <strong>Worktype:</strong>
  <%= @candidate_form.workType %>
</p>

<p>
  <strong>Individualmonthlyincome:</strong>
  <%= @candidate_form.individualMonthlyIncome %>
</p>

<p>
  <strong>Howdoyouknowcasd:</strong>
  <%= @candidate_form.howDoYouKnowCASD %>
</p>

<p>
  <strong>Ishighschoolstudent:</strong>
  <%= @candidate_form.isHighSchoolStudent %>
</p>

<p>
  <strong>Hasstudiedcasd:</strong>
  <%= @candidate_form.hasStudiedCASD %>
</p>

<p>
  <strong>Relativeincasd:</strong>
  <%= @candidate_form.relativeInCASD %>
</p>

<%= link_to 'Edit', edit_candidate_form_path(@candidate_form) %> |
<%= link_to 'Back', candidate_forms_path %>
