<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <p id="notice"><%= notice %></p>
    <h3>Formulário</h3><br>
    <div class="row">
      <p class="col-md-3 "><strong>Automóveis:</strong> <%= @candidate_form.automovel %></p>
      <p class="col-md-3 "><strong>Televisões:</strong> <%= @candidate_form.television %></p>
      <p class="col-md-3 "><strong>Computadores:</strong> <%= @candidate_form.computers %></p>
      <p class="col-md-3 "><strong>Máquinas de lavar:</strong> <%= @candidate_form.washingMachines %></p>
    </div>
    <br>
     <div class="row">
      <p class="col-md-3 "><strong>Geladeiras:</strong> <%= @candidate_form.fridge %></p>
      <p class="col-md-3 "><strong>Rádios:</strong> <%= @candidate_form.radio %></p>
      <p class="col-md-3 "><strong>Banheiros:</strong> <%= @candidate_form.bathrooms %></p>
      <p class="col-md-3 "><strong>Empregados:</strong> <%= @candidate_form.employees %></p>
    </div>
    <br>
     <div class="row">
      <p class="col-md-3 "><strong>Nível de instrução:</strong> <%= @candidate_form.householderInstructionLevel %></p>
      <p class="col-md-3 "><strong>Cidade:</strong> <%= @candidate_form.city %></p>
      <p class="col-md-3 "><strong>Tipo de residência:</strong> <%= @candidate_form.houseType %></p>
      <p class="col-md-3 "><strong>Transporte:</strong> <%= @candidate_form.transport %></p>
    </div>
    <br>
     <div class="row">
      <p class="col-md-3 "><strong>Participação na renda da família:</strong> <%= @candidate_form.familyIncomeParticipation %></p>
      <p class="col-md-3 "><strong>Tipo de trabalho:</strong> <%= @candidate_form.workType %></p>
      <p class="col-md-3 "><strong>Renda individual:</strong> <%= @candidate_form.individualMonthlyIncome %></p>
    </div>
    <br>
     <div class="row">
      <p class="col-md-3 "><strong>Como conheceu o CASD:</strong> <%= @candidate_form.howDoYouKnowCASD %></p>
      <p class="col-md-3 "><strong>Ensino Médio:</strong> <%= @candidate_form.isHighSchoolStudent %></p>
      <p class="col-md-3 "><strong>Ex-aluno:</strong> <%= @candidate_form.hasStudiedCASD %></p>
      <p class="col-md-3 "><strong>Parente no CASD:</strong> <%= @candidate_form.relativeInCASD %></p>
    </div>
    <br>
    <div class = "row">
      <%= link_to 'Editar', edit_candidate_form_path(@candidate_form), :class => "btn btn-default"%>
      <%= link_to 'Voltar', candidate_forms_path, :class => "btn btn-default" %>
    </div>
    
  </div>
</div>