<p id="notice"><%= notice %></p>
<br>
<div class="container">
  <h1>Lista de Convocados</h1>
  <div class ="panel panel-default" style="overflow:scroll;">
    <div class="panel-body">
      <table class="table stripped-table">
        <thead>
          <tr>
            <th>Inscricao</th>
            <th>Nome</th>
            <th>Rg</th>
            <th>Cpf</th>
            <th>Sexo</th>
            <th>Nascimento</th>
            <th>Responsavel</th>
            <th>Parentesco</th>
            <th>Celular</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Endereco</th>
            <th>Bairro</th>
            <th>Cep</th>
            <th>Cidade</th>
            <th>Especiais</th>
            <th>Nec especial</th>
            <th>Tipo escola</th>
            <th>Escolaridade</th>
            <th>Nome escola</th>
            <th>Trabalha</th>
            <th>Profissao</th>
            <th>Transporte</th>
            <th>Internet</th>
            <th>Ex aluno</th>
            <th>Como conheceu</th>
            <th>Data inscricao</th>
            <th>Facebook</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @convocados.each do |convocado| %>
            <tr>
              <td><%= convocado.inscricao %></td>
              <td><%= convocado.nome %></td>
              <td><%= convocado.rg %></td>
              <td><%= convocado.cpf %></td>
              <td><%= convocado.sexo %></td>
              <td><%= convocado.nascimento %></td>
              <td><%= convocado.responsavel %></td>
              <td><%= convocado.parentesco %></td>
              <td><%= convocado.celular %></td>
              <td><%= convocado.telefone %></td>
              <td><%= convocado.email %></td>
              <td><%= convocado.endereco %></td>
              <td><%= convocado.bairro %></td>
              <td><%= convocado.cep %></td>
              <td><%= convocado.cidade %></td>
              <td><%= convocado.especiais %></td>
              <td><%= convocado.nec_especial %></td>
              <td><%= convocado.tipo_escola %></td>
              <td><%= convocado.escolaridade %></td>
              <td><%= convocado.nome_escola %></td>
              <td><%= convocado.trabalha %></td>
              <td><%= convocado.profissao %></td>
              <td><%= convocado.transporte %></td>
              <td><%= convocado.internet %></td>
              <td><%= convocado.ex_aluno %></td>
              <td><%= convocado.como_conheceu %></td>
              <td><%= convocado.data_inscricao %></td>
              <td><%= convocado.facebook %></td>
              <td><%= link_to 'Show', convocado %></td>
              <td><%= link_to 'Edit', edit_convocado_path(convocado) %></td>
              <td><%= link_to 'Destroy', convocado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="btn btn-group">
      <button type="button" class="btn btn-default"><%= link_to 'New Convocado', new_convocado_path %></button>
      <button type="button" class="btn btn-default"><%= link_to 'Importar Lista CSV', addfile_convocados_path%></button>
    </div>
  </div>
</div>

