<p id="notice"><%= notice %></p>

<p>
  <strong>Inscricao:</strong>
  <%= @convocado.inscricao %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @convocado.nome %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @convocado.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @convocado.cpf %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @convocado.sexo %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @convocado.nascimento %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @convocado.responsavel %>
</p>

<p>
  <strong>Parentesco:</strong>
  <%= @convocado.parentesco %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @convocado.celular %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @convocado.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @convocado.email %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @convocado.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @convocado.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @convocado.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @convocado.cidade %>
</p>

<p>
  <strong>Especiais:</strong>
  <%= @convocado.especiais %>
</p>

<p>
  <strong>Nec especial:</strong>
  <%= @convocado.nec_especial %>
</p>

<p>
  <strong>Tipo escola:</strong>
  <%= @convocado.tipo_escola %>
</p>

<p>
  <strong>Escolaridade:</strong>
  <%= @convocado.escolaridade %>
</p>

<p>
  <strong>Nome escola:</strong>
  <%= @convocado.nome_escola %>
</p>

<p>
  <strong>Trabalha:</strong>
  <%= @convocado.trabalha %>
</p>

<p>
  <strong>Profissao:</strong>
  <%= @convocado.profissao %>
</p>

<p>
  <strong>Transporte:</strong>
  <%= @convocado.transporte %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @convocado.internet %>
</p>

<p>
  <strong>Ex aluno:</strong>
  <%= @convocado.ex_aluno %>
</p>

<p>
  <strong>Como conheceu:</strong>
  <%= @convocado.como_conheceu %>
</p>

<p>
  <strong>Data inscricao:</strong>
  <%= @convocado.data_inscricao %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @convocado.facebook %>
</p>

<%= link_to 'Edit', edit_convocado_path(@convocado) %> |
<%= link_to 'Back', convocados_path %>
