<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <p id="notice"><%= notice %></p>
    
    <h3>
      <strong><%= @candidato.nome %></strong>
    </h3>
    <br>
    <div class="row">
      <p class="col-md-3 "><strong>Inscrição:</strong> <%= @candidato.inscricao %></p>
      <p class="col-md-3 "><strong>Sexo:</strong> <%= @candidato.sexo %></p>
    </div>
    <br>
    <div class="row">
      <p class="col-md-3 "><strong>Nascimento:</strong> <%= @candidato.nascimento%></p>
      <p class="col-md-3 "><strong>RG:</strong> <%= @candidato.rg %></p>
      <p class="col-md-3 "><strong>CPF:</strong> <%= @candidato.cpf%></p>
    </div>
    <br>
     <div class="row">
      <p class="col-md-3 "><strong>Responsável:</strong> <%= @candidato.responsavel%></p>
      <p class="col-md-3 "><strong>Parentesco:</strong> <%= @candidato.parentesco %></p>
    </div>
    <br>
    <div class="row">
      <p class="col-md-3 "><strong>Celular:</strong> <%= @candidato.celular%></p>
      <p class="col-md-3 "><strong>Telefone:</strong> <%= @candidato.telefone%></p>
      <p class="col-md-3 "><strong>Email:</strong> <%= @candidato.email%></p>
    </div>
    <br>
    <div class="row">
      <p class="col-md-3 "><strong>Endereço:</strong> <%= @candidato.endereco%></p>
      <p class="col-md-3 "><strong>Bairro:</strong> <%= @candidato.bairro%></p>
      <p class="col-md-3 "><strong>CEP:</strong> <%= @candidato.cep%></p>
      <p class="col-md-3 "><strong>Cidade:</strong> <%= @candidato.cidade%></p>
    </div>
    <br>
    <div class="row">
      <p class="col-md-3 "><strong>Especiais:</strong> <%= @candidato.especiais%></p>
      <p class="col-md-3 "><strong>Necessidades especiais:</strong> <%= @candidato.nec_especial%></p>
    </div>
    <br>
    <div class="row">
      <p class="col-md-3 "><strong>Tipo escola:</strong> <%= @candidato.tipo_escola%></p>
      <p class="col-md-3 "><strong>Escolaridade:</strong> <%= @candidato.escolaridade%></p>
      <p class="col-md-3 "><strong>Nome da escola:</strong> <%= @candidato.nome_escola%></p>
    </div>
    <br>
    <div class="row">
      <p class="col-md-3 "><strong>Trabalha:</strong> <%= @candidato.trabalha%></p>
      <p class="col-md-3 "><strong>Profissao:</strong> <%= @candidato.profissao%></p>
      <p class="col-md-3 "><strong>Transporte:</strong> <%= @candidato.transporte%></p>
      <p class="col-md-3 "><strong>Internet:</strong> <%= @candidato.internet%></p>
    </div>
    <br>
    <div class="row">
      <p class="col-md-3 "><strong>Ex-aluno?:</strong> <%= @candidato.ex_aluno%></p>
      <p class="col-md-3 "><strong>Como conheceu:</strong> <%= @candidato.como_conheceu%></p>
      <p class="col-md-3 "><strong>Data inscrição:</strong> <%= @candidato.data_inscricao%></p>
      <p class="col-md-3 "><strong>Facebook:</strong> <%= @candidato.facebook%></p>
    </div>
    <br>
    <div>
      <%= link_to 'Editar', edit_candidato_path(@candidato), :class => "btn btn-default"%>
      <%= link_to 'Criar entrevista', new_entrevista_path(:candidato_id => @candidato.id ), :class => "btn btn-default"%>
      <%= link_to 'Ver formulário', edit_pesquisa_path(:id => @pesquisa.id ), :class => "btn btn-default"%>
      <%= link_to 'Voltar', candidatos_path, :class => "btn btn-default" %>
    </div>
   
    
        
        
    
    
  </div>
  
  
</div>
