<p id="notice"><%= notice %></p>

<p>
  <strong>Inscricao:</strong>
  <%= @candidato.inscricao %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @candidato.nome %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @candidato.rg %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @candidato.cpf %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @candidato.sexo %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @candidato.nascimento %>
</p>

<p>
  <strong>Responsavel:</strong>
  <%= @candidato.responsavel %>
</p>

<p>
  <strong>Parentesco:</strong>
  <%= @candidato.parentesco %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @candidato.celular %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @candidato.telefone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @candidato.email %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @candidato.endereco %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @candidato.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @candidato.cep %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @candidato.cidade %>
</p>

<p>
  <strong>Especiais:</strong>
  <%= @candidato.especiais %>
</p>

<p>
  <strong>Nec especial:</strong>
  <%= @candidato.nec_especial %>
</p>

<p>
  <strong>Tipo escola:</strong>
  <%= @candidato.tipo_escola %>
</p>

<p>
  <strong>Escolaridade:</strong>
  <%= @candidato.escolaridade %>
</p>

<p>
  <strong>Nome escola:</strong>
  <%= @candidato.nome_escola %>
</p>

<p>
  <strong>Trabalha:</strong>
  <%= @candidato.trabalha %>
</p>

<p>
  <strong>Profissao:</strong>
  <%= @candidato.profissao %>
</p>

<p>
  <strong>Transporte:</strong>
  <%= @candidato.transporte %>
</p>

<p>
  <strong>Internet:</strong>
  <%= @candidato.internet %>
</p>

<p>
  <strong>Ex aluno:</strong>
  <%= @candidato.ex_aluno %>
</p>

<p>
  <strong>Como conheceu:</strong>
  <%= @candidato.como_conheceu %>
</p>

<p>
  <strong>Data inscricao:</strong>
  <%= @candidato.data_inscricao %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @candidato.facebook %>
</p>

<%= link_to 'Edit', edit_candidato_path(@candidato) %> |
<%= link_to 'Back', candidatos_path %>
