<!DOCTYPE html>
<html>
<head>
  <title>Casd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Wrapper-->
  <div id="wrapper"> 

    <!-- Page wraper -->
    <div id="page-wrapper" class="gray-bg">

        <!-- Page wrapper -->
        <%= render 'layouts/topnavbar' %>
        
        <!-- Notices -->
        <% if notice %>
        <div class="alert alert-info alert-dismissable">
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
          <%= notice %>
        </div>
        <% end %>
        <!-- Main view  -->
        <div class="container">
          <%= yield %>
        </div>
        <!-- Footer -->
        <% #render 'layouts/footer' %>
    </div>
    <!-- End page wrapper-->
  </div>
  <!-- End wrapper-->
</body>
</html>
